.navbarStyle{
    font-family: Helvetica, Arial, sans-serif;
}

.body {
    background: #e6f4fd;
    padding: 1%;
  }

.font1 {
    font-family: "Times New Roman", Times, serif;
  }

.icon {
    width: 20px;
    height: 20px
}

.table {
  border-collapse: collapse;
  border-style: dotted;
  border-radius: 2px;
  border-color: blueviolet;
  height: 5px;
}