.navbarStyle{
    font-family: Helvetica, Arial, sans-serif;
}

.body {
    background: #e6f4fd;
    padding: 1%;
  }

.font1 {
    font-family: "Times New Roman", Times, serif;
  }

.table {
    border-width: 3px;
    border-color: blue;
    border-collapse: collapse;
}

.icon {
    width: 20px;
    height: 20px
}