/* packaging-carousel */
.carousel-container {
    min-width: 100px;
    max-width: 600px;
    position: relative;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    box-sizing: border-box;
}

/* carousel pict */
.carousel-container-item {
    display: none;
}

/* carousel slide */
.slides-item {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}

/* carousel-angka */
.number {
    color: var(--netral-color-white);
    font-size: 16px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* previous, next */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(162, 158, 158, 0.649);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* dot */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: #bbb 0.6 ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* scrolling */
html {
    scroll-behavior: smooth;
}

#section-product {
    height: auto;
}

#section-landing {
    height: 100vh;
}

#section-contact {
    height: 5vh;
}

/*  kontak  */
.contact {
    position: absolute;
    margin: auto;
    padding: auto;
}

.box-contact {
    position: relative;
    margin: 2%;
    padding: 3%;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bg-items-product);
}

/*  start landing dom html  */
.galeri-row:after {
    content: "";
    display: table;
    clear: both;
}

.galeri-column {
    float: left;
    width: 20%;
}

.img-pointer {
    cursor: pointer;
}

.select-img {
    opacity: 0.6;
}

.container-galeri-slide {
    display: none;
}

.image-carousel-container {
    position: relative;
    box-sizing: border-box;
    margin: 4% 20% 0 20%;
}

.caption-image {
    text-align: center;
    background-color: var(--choco-primer);
    padding: 2px 16px;
    color: white;
}

.active,
.select-img:hover {
    opacity: 1;
}

.image-carousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-height: auto;
    max-height: auto;
}